@model PaginatedList<WebClientMvc.Models.Product>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 <div class="form-group">
                        <img src="@item.ImgUri" style="width: 50px;height: 50px" />
                 </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>            
            <td>
                    @Html.DisplayFor(modelItem => item.Price)<text>,-</text>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detail", "Detail", new { id=item.Id })
            </td>
        </tr>
}        
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    <text style="font-weight: bold;"><<</text>Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next<text style="font-weight: bold;">>></text>
</a>
<div class="btn btn-default"><text style="font-weight: bold;">@(Model.PageIndex)</text>...@(Model.TotalPages)</div>